*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.body{
    background:linear-gradient(to right ,rgba(135, 1, 253, 0.952),rgba(101, 23, 169, 0.92)) ;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.content{
    background:linear-gradient(to left,rgb(135, 1, 253),rgb(101, 23, 169)) ;
    width: 100%;
    max-width: 1100px;
    min-height: 70vh;
    border-radius: 30px;
}
.heading{
    text-align: center;
    padding: 20px;
    padding-top: 20vh;
    font-size: clamp(1.2rem,2vw,5rem);
    color: white;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cards{
    flex-wrap: wrap;
    display: flex;
    gap: 30px; 
    justify-content: center;
    padding-top: 5vh;
    width: 100%;
    padding-bottom: 10vh;
    padding-left: 20px;
    padding-right: 20px;
}
.card{
    background-color: rgba(74, 0, 104, 0.299);
    width: 100%;
    max-width: 300px;
    aspect-ratio: 3/1.2;
    border-radius: 20px;
    border: solid white 1px;
    backdrop-filter: blur(10px);
    text-align: center;
    padding: 20px;
    color: white;
    font-size: clamp(1rem,1.2vw,4rem);
}
.fa-solid.fa-house-chimney{
    font-size: clamp(4rem,6vw,5rem);
    padding-bottom: 10px;
    background: linear-gradient(to right, blueviolet,rgb(253, 173, 187));
    background-clip: text;
    color: transparent;
}
h2{
    padding-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fa-solid.fa-money-check-dollar{
    font-size: 1.5rem;
    color:rgb(0, 255, 55) ;
}
.fa-solid.fa-people-arrows{
    font-size: 1.5rem;
    color: bisque;
}
.fa-solid.fa-heart{
    font-size: 1.5rem;
    color: violet;
}
.card:hover{
    background-color: rgba(0, 0, 0, 0.304);
    cursor: pointer;
}
a button{
    align-items: center;
    text-align: center;
    background-color: white;
    width: 100%;
    max-width: 200px;
    aspect-ratio: 4/1;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 1.1rem;
    color: blueviolet;
    font-weight: bold;
}
.button{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1px;
    align-items: center;
    padding: 20px;
    padding-bottom: 80px;
}
button:hover{
    background: linear-gradient(to right,blue,purple);
    color: white;
    cursor: pointer;
}
.clients{
    width: 100%;
    height: 100vh;
}
.feedback{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    text-align: center;
    padding: 10px;
}


